//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 26 18:28:46 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T5" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "vsync" LOCATE = SITE "P7" LEVEL 1;
SCHEMATIC END;

